.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15rem;
    margin-top: 20px;
}
.card{
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    width: 13rem;
}
img{
    width: 210px;
    height:125px;
    margin-bottom: 1rem;
}
.card-title{
    font-size: relative;
    margin-bottom: 1rem;
}

.card-reviews{
    display: flex;
    margin-bottom: 1rem;
}
.rating-star{
    color: #d5ab55;
}
.total-reviews{
    font-size: 0.9rem;
    margin-left: 10px;
}
.card-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bag{
    color: #535353;
}