#root{
    min-height: 75vh;
}
.footer-container{
    height: max-content;
    background-color: #096bd4;
}
.footer {
    color: white;
    font-size: medium;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    padding-bottom: 25px;
    padding-top: 35px;
   
}
.link{
    all: revert;
}