#root{
    min-height: 30vh;
}

.footer {
    color: black;
    font-size: medium;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    padding-bottom: 25px;
    padding-top: 35px;
}
.link{
    all: revert;
}