.cart-container {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    margin-top: 80px;
    min-height: 36.5rem;
  }
  .go-back-button {
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.cart-items{
  margin-left: 40px;
  width: 500px;
}
.go-back-button:hover {
    background-color: #0056b3;
}
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-header h2 {
    font-weight: 530;
    margin-left: 50px;

  }
  
  .subtotal {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    width: 350px;
    margin-top: 30px;
  }


  .subtotal-heading {
    margin-top: 10px;
    font-weight: 500;
    font-size: x-large;
    color: black;
    margin-bottom: 5px;
  }
  .subtotal p{
    margin-top: 10px;
    color: grey;
  }
  
  
  
  .empty-cart-message {
    font-style: italic;
    font-size: xx-large;
    margin-left: 580px;
    margin-top: 80px;
  }
  .continue-shopping-button {
    margin-top: 60px;
    margin-left: 620px;
    background-color: #007bff;
    color: white;
    font-size: large;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  .continue-shopping-button2 {
    margin-top: 130px;
    right:20px;
    width: 370px;
    position: absolute;
    background-color: #007bff;
    color: white;
    font-size: large;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .continue-shopping-button2:hover {
    background-color: #0056b3;
  }
  
  
  .continue-shopping-button:hover {
    background-color: #0056b3;
  }
  
  .proceed-to-checkout {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    font-size: large;
    border: none;
    padding:15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .proceed-to-checkout:hover {
    background-color: #0056b3;
  }
  
  .cart-item {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    width: 450px;
    position: relative;
    height: 180px;
    border: 2px solid #0056b3;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .productimage {
    width: 220px;
    height: 150px;
    object-fit: contain; 
  }
  
  .productdetails {
    padding: 20px;
  }
  .producttitle {
    font-size: 21px;
    font-weight: 550;
  }
  
  .productimage,
  .producttitle:hover {
    cursor: pointer;
  }
  
  
  .productprice {
    margin-top: 15px;
    font-size: 16px;
    color: rgb(86, 80, 80);
    font-size: large;
  }
  
  .quantity-remove {
    display: flex;
    align-items: center;
  }
  
  .quantity {
    font-size: 16px;

    color: rgb(86, 80, 80);
    font-size: large;
  }
  
  .remove-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  }