.profile-management-container {
    display: flex;
    margin-top: 110px;
  }

  .go-back-button-profile {
    position: fixed;
    left: 40px;
    top: 120px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.go-back-button:hover {
    background-color: #0056b3;
}
  
  .profile-details {
    margin-left: 50px;
    margin-top: 50px;
    flex: 1;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
  }

  .order-details{

    margin-top: 20px;
    margin-right: 50px;
  }
  .order-table {
    width: 50rem;
    border-collapse: collapse;
  }
  
  .order-table th,
  .order-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;

  }
  
  .order-table th {
    background-color: #f2f2f2;
  }
  
  .order-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .order-table tr:hover {
    background-color: #ddd;
  }
  
  .profile-form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    position: relative;
  }
  
  .form-group {
    height: 100px;
    width: 300px;
  }
  
  .label-container {
    display: flex;
    height: 20px;
  }
  
  input {
    width: calc(100% - 30px);
    padding: 8px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  input[disabled] {
    background-color: #f4f4f4;
  }
  
  .input-container {
    
  }
  
  .profile-button  {
    position: absolute;
    right: 13px;
    bottom: 0;
    transform: translateY(-50%);
    padding: 6px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-button :hover {
    background-color: #0056b3;
  }
  
  .profile-button :disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .profile-button :disabled:hover {
    background-color: #ccc;
  }
  
