.reset-container{
    display: flex;
    flex-direction: column;
    min-height: 75.5vh;
    margin-top: 100px;
    padding-top: 100px;
    
}
.reset-box{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: auto;
}
.reset-field{
    display: flex;
    flex-direction: column;

    width: 300px;
}
.reset-pad{

    width: 100%;
    padding: 10px 0px 10px 0px !important;
}
