.sidebar{
    width: 10%;
    position: fixed;
    position: fixed;
    z-index: 1000;
    height: 79.4%;
    border-bottom: 100px solid #096bd4;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    margin-top: 83px;
    background-color: rgb(202, 202, 202);
}

 .side{
   font-size: 22px;
   font-weight: normal;
   margin-top: 17px;
    margin-bottom: 1.3rem;
}  
.sidebar-label{
    margin-right: 10px;
    display: flex;
    margin-bottom: 7px;
    cursor: pointer;
}
.checkmark
{
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-right: 15px;
    
}

.sidebar-label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}

.sidebar-label:hover input ~ .checkmark{background-color: #ccc;}
.sidebar-label input:checked ~ .checkmark::after{display: block;}
.sidebar-label .checkmark::after{position: absolute;margin-top: 6px;margin-left: 6.5px; background-color: white;width: 7px;height: 7px;border-radius: 50%;}
.sidebar-label input:checked ~ .checkmark{background-color: #2196f3;}