
.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
  }
  
  .success-content {
    text-align: center;
  }
  
  .success-heading {
    color: #4CAF50;
  }
  
  .success-message {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .view-details-link {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .view-details-link:hover {
    background-color: #45a049; 
  }
  